<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List</ion-title>
    </ion-toolbar>
  </ion-header>
  @if (filteredHeroes$ | async; as filteredHeroes) {
  <ion-grid>
    <ion-row>
      <ion-col> Id </ion-col>
      <ion-col> Name </ion-col>
      <ion-col> Identity </ion-col>
      <ion-col> City </ion-col>
      <ion-col> Actions </ion-col>
    </ion-row>
    @for (hero of filteredHeroes; track hero.id) {
    <ion-row>
      <ion-col> {{ hero.id }} </ion-col>
      <ion-col> {{ hero.name }} </ion-col>
      <ion-col> {{ hero.realName }} </ion-col>
      <ion-col> {{ hero.city }} </ion-col>
      <ion-col> edit </ion-col>
    </ion-row>
    } @empty {
    <p>No heroes found</p>
    }
  </ion-grid>
  } @else {
  <ion-row>
    <ion-col>Loading ...</ion-col>
  </ion-row>
  }
</ion-content>
